<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabriela Andino estudio contable</title>
  <!--STYLESHEETS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../Style/style.css">
  <link rel="icon" href="../img/calcu-icon.png" type="image/png">
</head>
<body>
    <header>
      <!--NAVBAR-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(205, 219, 214);" style="border: 1px solid black ;" style="font-family: Arial, Helvetica, sans-serif;" style="box-shadow: 5px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"> <img src="../img/icono navbar.png" class="navbutton" alt="">
            </a>  </a>  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="info.html">Informacion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Servicios.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="Contacto.html">Contacto</a>
                      </li>
                </ul>
              </div>
            </div>
          </nav>
      </header>
      <!--FORMULARIO-->
      <section class="form-section">
      <div class="form-container">
        <h2>Formulario de Contacto</h2>
        <form>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>

          <label for="nombre">Apellido:</label>
          <input type="text" id="apellido" name="apellido" required>
          
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          
          <label for="mensaje">Escriba su consulta:</label>
          <textarea id="mensaje" name="mensaje" required></textarea>
          
          <button type="submit">Enviar</button>
        </form>
      </div>
      </section>
      <!--FOOTER-->
      <footer>
        <h3>ACERCA DE:</h3>
    <a class="textinfo" href="Descripcion.html">Quienes somos</a>
    <a class="textinfo" href="https://www.linkedin.com/in/gabriela-alejandra-a-28892332/">Mi perfil en Linkedin</a>
  </footer>
      </footer>
    </body>
    <!--SCRIPT BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>