<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabriela Andino estudio contable</title>
  <!--STYLESHEETS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../Style/style.css">
  <link rel="icon" href="../img/calcu-icon.png" type="image/png">
</head>
<body>
    <header>
      <!--NAVBAR-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(205, 219, 214);" style="border: 1px solid black ;" style="font-family: Arial, Helvetica, sans-serif;" style="box-shadow: 5px;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index.html">
            <a class="navbar-brand" href="/index.html"> <img src="/Public/img/icono navbar.png" class="navbutton" alt="">
            </a>  
        </a>  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="info.html">Informacion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Servicios.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Contacto.html">Contacto</a>
                      </li>
                </ul>
              </div>
            </div>
          </nav>
      </header>
      <!--VIDEOS-->
      <aside>
        <h3>Videos importantes con respecto a ciertas inquietudes en el mundo de la contabilidad:</h3>
      </aside>
        <article>
        <h2>COMO JUBILARSE SIN APORTES:</h2>
      <div class="video-youtube">
      <div class="ratio" style="--bs-aspect-ratio: 50%;">  
        <iframe width="709" height="399" src="https://www.youtube.com/embed/m13eOwkdktI" title="Jubilación SIN APORTES anses - ¿Puedo jubilarme sin aportes?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
      </div>
      </div>
      </div>
        <article>
        <h2>COMO CALCULAR LA RETENCION DE GANANCIAS SI ESTAS EN RELACION DE DEPENDENCIA:</h2>
      <div class="video-youtube">
      <div class="ratio" style="--bs-aspect-ratio: 50%;">
          <iframe width="709" height="399" src="https://www.youtube.com/embed/jDfrjTUNFQo" title="Como CALCULAR la RETENCION de GANANCIAS 2023 EMPLEADOS RELACION DE DEPENDENCIA 4ta CATEGORIA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
      </div>
      </div>
      </div>
        <article>
        <h2>COMO INVERTIR SIENDO MONOTRIBUTISTA SIN TENER PROBLEMAS CON AFIP</h2>
        <div class="video-youtube">
        <div class="ratio" style="--bs-aspect-ratio: 50%;">
        <iframe width="709" height="399" src="https://www.youtube.com/embed/BaHxvEvMlSQ" title="¿Puedo INVERTIR siendo MONOTRIBUTISTA? (Sin que AFIP me PERSIGA)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
      </div>  
      </div>
      </div>
        <article>
        <h2>DESCUCBE CUANTO DINERO PUEDES INVERTIR SIN SER PERSEGUIDO POR AFIP</h2>
       <div class="video-youtube">
        <div class="ratio" style="--bs-aspect-ratio: 50%;">
        <iframe width="709" height="399" src="https://www.youtube.com/embed/uZicIJuvPpI" title="💰 CUANTO DINERO puedo INVERTIR SIN tener PROBLEMAS con AFIP 😱" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
      </div>  
      </div>
      </div>
      <footer>
        <!--FOOTER-->
        <h3>ACERCA DE:</h3>
    <a class="textinfo" href="Descripcion.html">Quienes somos</a>
    <a class="textinfo" href="https://www.linkedin.com/in/gabriela-alejandra-a-28892332/">Mi perfil en Linkedin</a>
  </footer>
      </footer>
    </body>
    <!--SCRIPT BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>
