<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabriela Andino estudio contable</title>
  <!--STYLESHEETS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../Style/style.css">
  <link rel="icon" href="../img/calcu-icon.png" type="image/png">
</head>
<body>
    <header>
      <!--NAVBAR-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(205, 219, 214);" style="border: 1px solid black ;" style="font-family: Arial, Helvetica, sans-serif;" style="box-shadow: 5px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"> <img src="../img/icono navbar.png" class="navbutton" alt="">
            </a>  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="info.html">Informacion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="Servicios.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Contacto.html">Contacto</a>
                      </li>
                </ul>
              </div>
            </div>
          </nav>
      </header>
     <!--ASIDE-->
      <aside>
        <h4>Nuestros servicios:</h4>
       </aside>
<!--SECTION-->
      <main>
       <section> 
        <img src="../img/impuestos.webp" style="border: 3px solid black;" class="img-fluid"/>
          <h2>Impuestos</h2>
          <p>Iva, Ganancias Personas Físicas y Jurídicas, Ingresos Brutos (las 24 Provincias), Bienes Personales, Monotributo, Autónomos y otros.</p>
        </section>
       <section>
          <img src="../img/Contabilidad.jpg" style="border: 3px solid black;" class="img-fluid"/>
          <h2>Contabilidad</h2> 
          <p>Balances, Estados Financieros, Reporting, Libros Contables, Asientos contables, Trámites UIF e IGJ y otros.</p>
        </section>
        <section>
        <img src="../img/gestion-cobranzas.webp" style="border: 3px solid black;" class="img-fluid"/>
        <h2>Servicio de Gestión de Cobranzas</h2>
        <p>Control de Cobranzas, Reportes, Reclamos y Seguimiento.</p>
        </section>
       <section>
           <img src="../img/agip-arba-afip.png" style="border: 3px solid black;" class="img-fluid"/>
           <h2>Trámites AFIP - AGIP - ARBA</h2> 
          <p>Planes de Pago (Moratorias), VEP, Facturación, Reportes AFIP, Cambio de Domicilio, Formulario Data Fiscal 960/D, Alta puntos de venta, Solicitud de factura "A" y otros.</p>
        </section>
        <section>
          <img src="../img/Certificacion de ingresos personales.jpg" style="border: 3px solid black;" class="img-fluid"/>
          <h2>Certificación de Ingresos Personales</h2>
          <p>Certificaciones emitidas por Contador Matriculado y legalizadas ante el Consejo Profesional de Ciencias Económicas de CABA.</p>
        </section>
        <section>
          <img src="../img/COTI.jpg" style="border: 3px solid black;" class="img-fluid"/>
          <h2>COTI</h2>
          <P>Es un Certificado que deben obtenerlo antes de la negociación, oferta o transferencia de un inmueble o de los derechos sobre aquellos a construir, cuando el valor sea igual o superior a $ 5.000.000.</P>
        </section>
       <section>
        <img src="../img/CETA.jpg" style="border: 3px solid black;" class="img-fluid"/>
        <h2>CETA - Certificado de Transferencia de Automotor</h2>
        <p>Certificado que deben solicitar las personas humanas, las sucesiones indivisas y personas jurídicas, del país o residentes en el exterior, con relación a la transferencia de automotores y motovehículos usados radicados en el país.</p>
        </section>
        <section>
          <img src="../img/ITI.jpg" style="border: 3px solid black;" class="img-fluid"/>
          <h2>Certificado de NO RETENCIÓN del ITI</h2>
          <P>Cuando vendés tu única vivienda o terreno para adquirir o construir (dentro del término de un año) una propiedad destinada a casa-habitación propia, podés solicitar el certificado de no retención del impuesto a la transferencia de inmuebles.</P>
        </section>
      </main>
      <!--FOOTER-->
      <footer>
        <h3>ACERCA DE:</h3>
    <a class="textinfo" href="Descripcion.html">Quienes somos</a>
    <a class="textinfo" href="https://www.linkedin.com/in/gabriela-alejandra-a-28892332/">Mi perfil en Linkedin</a>
  </footer>
      </footer>
    </body>
    <!--SCRIPT BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>
